.details {
    display: flex;
    justify-content: space-around;
}

.detail--column {
    margin: 0.2rem;
    border: 1px dotted goldenrod;
    width: 100%;
}

.detail--column h2{
    margin: 10px;
}

.assignments {
    padding: 1rem 5rem;
}

